---
import Map from "../components/IncidentsMap";
---
<html lang="en">
  <head>
    <title>Worldwide Cyber Incidents</title>
  </head>
  <body>
    <h1></h1>
    <Map client:only="react" />
  </body>
</html>
